extends ../layout

block content
  
  .page-header
    h3 Get some inspiration
    
    .form-horizontal
      .form-group
        a.btn.btn-group(href='ideas/idea-mapper')
          | Try out our idea mapper
      .form-group
        a.btn.btn-group(href='/')
          | I know my goal now
