extends layout

block content
  if !user
    .container.s.center
      h1
        img.logo(src="/images/logo.svg")
    .container.s.center
      include partials/login-form
  else
    .container.l
      .row.no-margin
        .column.l12
          h1 Dashboard
      
      if user.goals.length > 0
        .row.no-margin
          .column.l12
            h3 Your goals
            each goal, index in user.goals
              a.button.block(href=("/goals/view/"+index))=goal.name
        .row.center
          .column.l12
            a.button(href="/goals/new", style='margin-right: 10px') 
              | Create a new goal
            a.button#report
              | Export
      else
        .row.no-margin
          .column.l12
            h3 Create a goal to get started

        .row
          .column.l12
            a.button(href="/goals/new") 
              | Create your first goal
      
