/* /Settings/ ==================================================================*/
/* Variables =================================================================*/
/* /Utils/ =====================================================================*/
/* Mixins ====================================================================*/
/* /Global/ ====================================================================*/
/* Reset =====================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form, input, textarea, label, fieldset, legend, select, optgroup, option, button {
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
  color: inherit; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden; }

/* Global ====================================================================*/
html {
  height: 100%; }

body {
  height: 100%;
  color: #000000;
  background-color: #f8f8f2;
  font: 16px/21px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased; }

main {
  padding-top: 50px;
  padding-bottom: 50px; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  display: block;
  margin-bottom: 16.66667px; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.875rem; }

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 1.4rem; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:hover, a:focus {
    color: black; }

hr {
  border: 0;
  border-top: 2px solid #000000;
  margin: 33.33333px 0; }

strong, b {
  font-weight: 700; }

small {
  font-size: 0.8rem; }

i {
  font-style: italic; }

.rte ul, .rte ol {
  list-style: initial;
  list-style-position: inside;
  margin-bottom: 25px; }
  .rte ul li, .rte ol li {
    list-style: inherit;
    list-style-position: inherit;
    margin-bottom: 25px; }

.rte ol {
  list-style-type: decimal; }

.breadcrumb {
  margin-bottom: 50px; }

/* Grid System ===============================================================*/
.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 50px; }
  .container.xl {
    width: 1450px; }
  .container.l {
    width: 1150px; }
  .container.m {
    width: 850px; }
  .container.s {
    width: 600px; }
  @media (max-width: 600px) {
    .container {
      padding: 0 25px; } }

.row {
  margin: 0 -25px 50px; }
  .row.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 50px; }
    .row.table .column {
      float: none;
      display: table-cell; }
      .row.table .column.middle {
        vertical-align: middle; }
      .row.table .column.top {
        vertical-align: top; }
      .row.table .column.bottom {
        vertical-align: bottom; }
      .row.table .column:first-of-type {
        padding-left: 0; }
      .row.table .column:last-of-type {
        padding-right: 0; }
  @media (min-width: 1450px) {
    .row.xl-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 50px; }
      .row.xl-table .column {
        float: none;
        display: table-cell; }
        .row.xl-table .column.middle {
          vertical-align: middle; }
        .row.xl-table .column.top {
          vertical-align: top; }
        .row.xl-table .column.bottom {
          vertical-align: bottom; }
        .row.xl-table .column:first-of-type {
          padding-left: 0; }
        .row.xl-table .column:last-of-type {
          padding-right: 0; } }
  @media (min-width: 1150px) {
    .row.l-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 50px; }
      .row.l-table .column {
        float: none;
        display: table-cell; }
        .row.l-table .column.middle {
          vertical-align: middle; }
        .row.l-table .column.top {
          vertical-align: top; }
        .row.l-table .column.bottom {
          vertical-align: bottom; }
        .row.l-table .column:first-of-type {
          padding-left: 0; }
        .row.l-table .column:last-of-type {
          padding-right: 0; } }
  @media (min-width: 600px) and (max-width: 1149px) {
    .row.m-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 50px; }
      .row.m-table .column {
        float: none;
        display: table-cell; }
        .row.m-table .column.middle {
          vertical-align: middle; }
        .row.m-table .column.top {
          vertical-align: top; }
        .row.m-table .column.bottom {
          vertical-align: bottom; }
        .row.m-table .column:first-of-type {
          padding-left: 0; }
        .row.m-table .column:last-of-type {
          padding-right: 0; } }
  @media (max-width: 600px) {
    .row.s-table {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 50px; }
      .row.s-table .column {
        float: none;
        display: table-cell; }
        .row.s-table .column.middle {
          vertical-align: middle; }
        .row.s-table .column.top {
          vertical-align: top; }
        .row.s-table .column.bottom {
          vertical-align: bottom; }
        .row.s-table .column:first-of-type {
          padding-left: 0; }
        .row.s-table .column:last-of-type {
          padding-right: 0; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row.collapse {
    margin: 0; }
    .row.collapse .column {
      padding: 0; }

.column {
  float: left;
  min-height: 0.125rem;
  padding: 0 25px; }
  .column.l1 {
    width: 8.33333%; }
  .column.l2 {
    width: 16.66667%; }
  .column.l3 {
    width: 25%; }
  .column.l4 {
    width: 33.33333%; }
  .column.l5 {
    width: 41.66667%; }
  .column.l6 {
    width: 50%; }
  .column.l7 {
    width: 58.33333%; }
  .column.l8 {
    width: 66.66667%; }
  .column.l9 {
    width: 75%; }
  .column.l10 {
    width: 83.33333%; }
  .column.l11 {
    width: 91.66667%; }
  .column.l12 {
    width: 100%; }
  @media (min-width: 600px) and (max-width: 1149px) {
    .column.m1 {
      width: 8.33333%; }
    .column.m2 {
      width: 16.66667%; }
    .column.m3 {
      width: 25%; }
    .column.m4 {
      width: 33.33333%; }
    .column.m5 {
      width: 41.66667%; }
    .column.m6 {
      width: 50%; }
    .column.m7 {
      width: 58.33333%; }
    .column.m8 {
      width: 66.66667%; }
    .column.m9 {
      width: 75%; }
    .column.m10 {
      width: 83.33333%; }
    .column.m11 {
      width: 91.66667%; }
    .column.m12 {
      width: 100%; } }
  @media (max-width: 600px) {
    .column.s1 {
      width: 8.33333%; }
    .column.s2 {
      width: 16.66667%; }
    .column.s3 {
      width: 25%; }
    .column.s4 {
      width: 33.33333%; }
    .column.s5 {
      width: 41.66667%; }
    .column.s6 {
      width: 50%; }
    .column.s7 {
      width: 58.33333%; }
    .column.s8 {
      width: 66.66667%; }
    .column.s9 {
      width: 75%; }
    .column.s10 {
      width: 83.33333%; }
    .column.s11 {
      width: 91.66667%; }
    .column.s12 {
      width: 100%; } }
  @media (min-width: 1150px) {
    .column:nth-child(6n+1).l2 {
      clear: both; }
    .column:nth-child(4n+1).l3 {
      clear: both; }
    .column:nth-child(3n+1).l4 {
      clear: both; }
    .column:nth-child(2n+1).l6 {
      clear: both; } }
  @media (min-width: 600px) and (max-width: 1149px) {
    .column:nth-child(6n+1).m2 {
      clear: both; }
    .column:nth-child(4n+1).m3 {
      clear: both; }
    .column:nth-child(3n+1).m4 {
      clear: both; }
    .column:nth-child(2n+1).m6 {
      clear: both; } }
  @media (max-width: 600px) {
    .column:nth-child(6n+1).s2 {
      clear: both; }
    .column:nth-child(4n+1).s3 {
      clear: both; }
    .column:nth-child(3n+1).s4 {
      clear: both; }
    .column:nth-child(2n+1).s6 {
      clear: both; } }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flex .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .flex .row .box {
      margin: 0 25px 50px;
      flex: auto;
      align-self: center; }
      .flex .row .box:first-child {
        margin-left: 0; }
      .flex .row .box:last-child {
        margin-right: 0; }
      .flex .row .box.center {
        text-align: center;
        align-items: center; }
    @media (max-width: 600px) {
      .flex .row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .flex .row .box {
          width: 100%;
          margin: 0 0 50px; } }

/* Forms =====================================================================*/
form {
  width: 100%; }
  form input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form input[type="tel"],
  form input[type="password"],
  form textarea,
  form select,
  form button, form .button {
    width: 100%;
    display: block;
    margin-bottom: 25px; }
  form label, form input[type="checkbox"] {
    margin-bottom: 10px; }

form {
  max-width: 100%; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  max-width: 100%;
  height: 50px;
  line-height: 46px;
  padding: 0 25px;
  font-size: 1.125rem;
  border: 2px solid #000000;
  border-radius: 5px;
  -webkit-appearance: none; }
  @media only screen and (max-width: 600px) {
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    textarea {
      width: 100%;
      clear: both;
      margin-bottom: 16.66667px; } }
  input[type="text"].error,
  input[type="email"].error,
  input[type="number"].error,
  input[type="tel"].error,
  input[type="password"].error,
  input[type="search"].error,
  textarea.error {
    border-color: #000000; }

textarea {
  height: initial;
  line-height: 1.75;
  padding: 25px;
  font-family: inherit; }

label {
  line-height: inherit; }

button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  max-width: 100%;
  height: 50px;
  line-height: 46px;
  padding: 0 33.33333px;
  font-size: 1.125rem;
  color: #000000;
  background-color: #fefefe;
  border: 2px solid #000000;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button option, .button option,
  input[type="button"] option,
  input[type="submit"] option,
  input[type="reset"] option,
  select option {
    background-color: #f8f8f2;
    border: 0;
    display: block;
    color: #fefefe; }
  button:hover, .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  select:hover {
    background-color: #000000;
    color: #fefefe;
    cursor: pointer; }
  button.block, .button.block,
  input[type="button"].block,
  input[type="submit"].block,
  input[type="reset"].block,
  select.block {
    margin-bottom: 12.5px;
    width: 100%; }
  button.alternate, .button.alternate,
  input[type="button"].alternate,
  input[type="submit"].alternate,
  input[type="reset"].alternate,
  select.alternate {
    color: #404040;
    background-color: #000000;
    border: 2px solid #000000; }
    button.alternate:hover, .button.alternate:hover,
    input[type="button"].alternate:hover,
    input[type="submit"].alternate:hover,
    input[type="reset"].alternate:hover,
    select.alternate:hover {
      background-color: black;
      border-color: black;
      color: #595959; }
  button:disabled, button.disabled, button:disabled:hover, button.disabled:hover, button.button:disabled:hover, button.button.disabled:hover, .button:disabled, .button.disabled, .button:disabled:hover, .button.disabled:hover,
  input.button[type="button"]:disabled:hover,
  input.button[type="button"].disabled:hover,
  input.button[type="submit"]:disabled:hover,
  input.button[type="submit"].disabled:hover,
  input.button[type="reset"]:disabled:hover,
  input.button[type="reset"].disabled:hover,
  input[type="button"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled:hover,
  input[type="button"].disabled:hover,
  input[type="submit"]:disabled,
  input[type="submit"].disabled,
  input[type="submit"]:disabled:hover,
  input[type="submit"].disabled:hover,
  input[type="reset"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled:hover,
  input[type="reset"].disabled:hover,
  select:disabled,
  select.disabled,
  select.button:disabled:hover,
  select.button.disabled:hover,
  select:disabled:hover,
  select.disabled:hover {
    cursor: default;
    background-color: #4d4d4d;
    border-color: #4d4d4d;
    color: black; }
  @media (max-width: 600px) {
    button, .button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    select {
      width: 100%;
      clear: both;
      margin-bottom: 16.66667px; } }

a.button {
  display: inline-block;
  text-decoration: none; }

.select-wrapper {
  display: inline-block;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .select-wrapper {
      width: 100%;
      clear: both;
      margin-bottom: 16.66667px; } }

.errors, .note {
  padding: 14.28571px;
  margin: 25px auto;
  color: gray;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 5px; }
  .errors li, .note li {
    margin-bottom: 16.66667px; }
    .errors li:last-of-type, .note li:last-of-type {
      margin-bottom: 0; }
  .errors a, .note a {
    color: gray; }

/* /Modules/ ===================================================================*/
/* Header ====================================================================*/
.theme-header {
  padding: 25px 0;
  background-color: #fefefe; }
  .theme-header .logo img {
    max-width: 50px; }

.profile-picture {
  border-radius: 100%;
  width: 32px;
  vertical-align: middle;
  margin: 5px; }

.profile-picture-large {
  border-radius: 100%;
  width: 64px;
  vertical-align: middle;
  margin: 5px; }

/* Navigation =================================================================*/
.theme-nav-main .nav-link {
  margin-right: 16.66667px; }

.theme-nav-main .dropdown {
  position: relative; }
  .theme-nav-main .dropdown:hover .dropdown_menu {
    display: block; }
  .theme-nav-main .dropdown .dropdown_menu {
    display: none;
    padding: 10px 0;
    position: absolute;
    top: 1.5rem;
    z-index: 2; }
    .theme-nav-main .dropdown .dropdown_menu li {
      display: block;
      padding: 12.5px 33.33333px;
      background: white; }
      .theme-nav-main .dropdown .dropdown_menu li:first-of-type {
        padding-top: 25px; }
      .theme-nav-main .dropdown .dropdown_menu li:last-of-type {
        padding-bottom: 25px; }
  .theme-nav-main .dropdown .user-dropdown {
    right: 0; }

.pagination a, .pagination .page.current {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-size: 1.125rem;
  color: #000000;
  padding: 0 12.5px;
  border: 2px solid #000000;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .pagination a.active, .pagination a:hover, .pagination .page.current.active, .pagination .page.current:hover {
    color: #404040;
    background-color: #000000; }

.pagination .page.current {
  color: #404040;
  background-color: #000000; }

.pagination .deco {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-size: 1.125rem;
  color: #000000;
  padding: 0 12.5px; }

/* Footer ====================================================================*/
.theme-footer {
  padding: 25px 0; }

.social-sharing {
  margin-bottom: 50px; }

.button {
  padding: 0 12.5px;
  height: 50px;
  line-height: 46px; }
  .button.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fefefe; }
    .button.facebook:hover {
      background-color: #2d4373;
      border-color: #2d4373; }
  .button.twitter {
    background-color: #00aced;
    border-color: #00aced;
    color: #fefefe; }
    .button.twitter:hover {
      background-color: #0087ba;
      border-color: #0087ba; }
  .button.pinterest {
    background-color: #cb2027;
    border-color: #cb2027;
    color: #fefefe; }
    .button.pinterest:hover {
      background-color: #9f191f;
      border-color: #9f191f; }
  .button.fancy {
    background-color: #4999dc;
    border-color: #4999dc;
    color: #fefefe; }
    .button.fancy:hover {
      background-color: #2780cb;
      border-color: #2780cb; }
  .button.google {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: #fefefe; }
    .button.google:hover {
      background-color: #c23321;
      border-color: #c23321; }

/* SVG Icons =================================================================*/
.icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1%; }
  .icon svg {
    overflow: visible;
    fill: none;
    stroke: none; }
    .icon svg .fill {
      fill: #000000; }
    .icon svg .stroke {
      stroke: #000000;
      stroke-width: 2px;
      stroke-linecap: square;
      stroke-miterlimit: 10; }
  .icon svg {
    height: 32px;
    width: 32px; }

.icon-small .icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1%; }
  .icon-small .icon svg {
    overflow: visible;
    fill: none;
    stroke: none; }
    .icon-small .icon svg .fill {
      fill: #000000; }
    .icon-small .icon svg .stroke {
      stroke: #000000;
      stroke-width: 2px;
      stroke-linecap: square;
      stroke-miterlimit: 10; }
  .icon-small .icon svg {
    height: 16px;
    width: 16px; }
    .icon-small .icon svg .stroke {
      stroke-width: 4px; }

.icon-large .icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1%; }
  .icon-large .icon svg {
    overflow: visible;
    fill: none;
    stroke: none; }
    .icon-large .icon svg .fill {
      fill: #000000; }
    .icon-large .icon svg .stroke {
      stroke: #000000;
      stroke-width: 2px;
      stroke-linecap: square;
      stroke-miterlimit: 10; }
  .icon-large .icon svg {
    height: 64px;
    width: 64px; }
    .icon-large .icon svg .stroke {
      stroke-width: 1px; }

/* Goals ====================================================================*/
.reason {
  width: 100%;
  line-height: 0%;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-bottom: 50px; }
  .reason.active {
    background-color: #000000;
    color: #fefefe; }

/* /Helpers/ ===================================================================*/
.left {
  text-align: left; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.right {
  text-align: right; }

.wide {
  width: 100%; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%); }

.v-middle {
  vertical-align: middle; }

.v-top {
  vertical-align: top; }

.v-bottom {
  vertical-align: bottom; }

@media (min-width: 1450px) {
  .xl-hide {
    display: none !important; }
  .xl-left {
    text-align: left; }
  .xl-center {
    text-align: center; }
  .xl-right {
    text-align: right; }
  .l-show, .m-show, .s-show {
    display: none !important; } }

@media (min-width: 1150px) {
  .l-hide {
    display: none !important; }
  .l-left {
    text-align: left; }
  .l-center {
    text-align: center; }
  .l-right {
    text-align: right; }
  .xl-show, .m-show, .s-show {
    display: none !important; } }

@media (min-width: 600px) and (max-width: 1149px) {
  .m-hide {
    display: none !important; }
  .m-left {
    text-align: left; }
  .m-center {
    text-align: center; }
  .m-right {
    text-align: right; }
  .l-show {
    display: none !important; }
  .xl-show, .l-show, .s-show {
    display: none !important; } }

@media (max-width: 600px) {
  .s-hide {
    display: none !important; }
  .s-left {
    text-align: left; }
  .s-center {
    text-align: center; }
  .s-right {
    text-align: right; }
  .l-show {
    display: none !important; }
  .xl-show, .l-show, .m-show {
    display: none !important; } }

.hidden {
  display: none; }

.highlight {
  color: #000000; }

.alternate {
  color: #000000; }

.inline {
  list-style: none;
  display: inline-block; }
  .inline li {
    display: inline-block; }

.clearfix {
  display: block;
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: table;
    clear: both; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important; }

.margin-top {
  margin-top: 50px; }

.margin-bottom {
  margin-bottom: 50px; }

.margin-left-4 {
  margin-left: 12.5px; }

.padding-top {
  padding-top: 50px; }

.padding-bottom {
  padding-bottom: 50px; }
