extends ../layout

block content
  .container.l
    h3.center Well done! You just set yourself a goal!
  .container.s.center
      a.button(href='/goals/todo?goal='+goal) Make a to do list
      
      hr
        
      a(href='/') Skip
