extends ../layout

block content
  
  .container.l
    h3 Get some inspiration
    
  .container.s
    .row.center
      .column.l12
        a.button.block(href='ideas/idea-mapper')
          | Try out our idea mapper
      .column.l12
        a.button.block(href='/goals/new')
          | I know my goal now
