extends ../layout

block content
  .container.l.center
    h3=title
  .container.s.center
    .row
      each milestone, index in goal.milestones
        .column.l12.center
          span milestone.name
      .column.l12.center
        input(type="text", placeholder=(goal.milestones.length == 0 ? 'Add a milestone' : 'Add another milestone'), id="milestoneInput")
        button.milestone.margin-left-4 Add
        
    .row
      .column.l12.center    
        button(id="addMilestones") Save
          
        
