/* Variables =================================================================*/

// Colors
$colorBrand: #000000;
$colorText: #000000;
$colorForeground: #fefefe;
$colorBackground: #f8f8f2;
$colorHighlight: #000000;
$colorAlternate: #000000;

// Typography
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
$lineHeight: 1.75;

// Space & Borders
$gutter: 50px;
$borderRadius: 5px;
$borderWeight: 2px;
$borderStyle: solid;

// Screen Sizes
$s: 600px;
$m: 850px;
$l: 1150px;
$xl: 1450px;

// Miscellaneous
$logoMaxWidth: 50px;
$transition: all .3s ease-out;

// Icons
$baseIconSize: 32px;
$iconLinecap: square;
