/* Header ====================================================================*/

.theme-header {
  padding: $gutter/2 0;
  background-color: $colorForeground;
  .logo {
    img {
      max-width: $logoMaxWidth;
    }
  }
}

.profile-picture {
  border-radius: 100%;
  width: 32px;
  vertical-align: middle;
  margin: $gutter/10;
}

.profile-picture-large {
  border-radius: 100%;
  width: 64px;
  vertical-align: middle;
  margin: $gutter/10;
}
